@page "/"

<div class="has-background-white">
    <div class="container">
        <div class="section">
            <div class="columns is-mobile is-vcentered is-gapless">
                <div class="column">
                    <img width="100"
                         height="60"
                         src="/img/blazor.png"
                         alt="Questions logo" />

                    <span style="color: #8867C8;">
                        <i class="fas fa-heart fa-3x"></i>
                    </span>
                    <img width="100"
                         height="60"
                         src="/img/Function.svg"
                         alt="Azure Functions" />

                </div>
            </div>
            <div class="columns is-mobile is-vcentered is-gapless">
                <div class="column">
                    <div id="bannerText">
                        <h1 class="is-size-3 has-text-weight-medium">
                            <span class="has-text-primary">Blazor and serverless</span> Q&A game!
                        </h1>
                        <br />
                        <p>
                            Ask questions about Blazor WebAssembly and serverless technologies like Azure Functions and enjoy the answers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}